<a href="https://colab.research.google.com/github/dan01silva/PythonLearn/blob/main/Lista_e_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Lista**

**Objetos proprios**

In [ ]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return "[>> Código da conta: {} Saldo: {} ".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>> Código da conta: 15 Saldo: 0

In [ ]:
conta_da_dani = ContaCorrente(47832)
conta_da_dani.deposita(1500)
print(conta_da_dani)

[>> Código da conta: 47832 Saldo: 1500

In [ ]:
contas = [conta_do_gui, conta_da_dani]
for conta  in contas:
  print(conta)

[>> Código da conta: 15 Saldo: 0
[>> Código da conta: 47832 Saldo: 1500

**Tupla**

In [ ]:
daniel = ('Daniel', 20, 2000) #tupla
daniela = ('Daniela', 21, 1999)

In [ ]:
conta_do_gui = (15, 1000)

def deposita(conta):
  novo_saldo = conta_do_gui[1] + 100
  codigo = conta_do_gui[0]
  return(codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

(15, 1100)

In [ ]:
conta_do_gui

(15, 1000)

#Tupla dentro de listas

In [ ]:
usuarios = [('Guilherme', 37, 1981), ('Daniel', 20, 2000)]

In [ ]:
usuarios.append(('Paulo', 39, 1979))
usuarios

[('Guilherme', 37, 1981),
 ('Daniel', 20, 2000),
 ('Paulo', 39, 1979),
 ('Paulo', 39, 1979)]

In [ ]:
usuarios[1][0]

'Daniel'

In [ ]:
conta_do_ale = ContaCorrente(123)
conta_da_jani = ContaCorrente(245)
conta_do_ale.deposita(340)
conta_da_jani.deposita(390)

contas_tupla = (conta_do_ale, conta_da_jani)

In [ ]:
for conta in contas_tupla:
  print(conta)

[>> Código da conta: 123 Saldo: 740
[>> Código da conta: 245 Saldo: 390

In [ ]:
contas_tupla[0].deposita(200)