<a href="https://colab.research.google.com/github/dan01silva/PythonLearn/blob/collections/Polimorfismo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Conta:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __lt__

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Código da conta: {} Saldo: {} <<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

[>> Código da conta: 88 Saldo: 0 <<]

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupança(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(2300)
conta16.passa_o_mes()
print(conta16)

[>> Código da conta: 16 Saldo: 2298 <<]

In [ ]:
conta17 = ContaPoupança(17)
conta17.deposita(1500)
conta17.passa_o_mes()
print(conta17)

for conta is contas:
  conta.passa_o_mes()t
  print(conta)

[>> Código da conta: 17 Saldo: 1512.0 <<]

#Quando quisermos utilizar array, para trabalhar com númericos costume usar NUMPY

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import array as ar

In [ ]:
import numpy as np
numeros = np.array([1,3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 1

array([2. , 4.5])

In [68]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  #Definindo o criterio de igualdade 
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  #Criando critério natural de ordenação
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Código da conta: {} - Saldo: {} <<]".format(self._codigo, self._saldo)

In [14]:
conta1s = ContaSalario(37)

In [15]:
conta2s = ContaSalario(37)

In [17]:
conta2s.deposita(100.)
conta2s == conta1s

False

In [18]:
isinstance(conta1s, ContaSalario) # veificado se o [0] é uma  instância do [1]

True

#Builtins como enumerated, range e desempacotamento automatico de tuplas

In [25]:
idades = [15, 87, 65, 56, 32, 49, 37]


for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 65
3 56
4 32
5 49
6 37

In [26]:
enumerate(idades)

In [28]:
list(range(len(idades))) #forçando a geração de valores

[0, 1, 2, 3, 4, 5, 6]

In [29]:
list(enumerate(idades)) #gerado a lista

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [30]:
for value in enumerate(idades): #gerando de forma Lazy
  print(value)

(0, 15)
(1, 87)
(2, 65)
(3, 56)
(4, 32)
(5, 49)
(6, 37)

In [35]:
for indice, idade in enumerate(sorted(idades)):# unpacking de cada tupla 
  print(indice, "-", idade)

0 - 15
1 - 32
2 - 37
3 - 37
4 - 45
5 - 49
6 - 56
7 - 87

In [44]:
idades = [15,87,37,45,56,32,49,37]
for i in range(len(idades)):
    print(i,idades[i])

0 15
1 87
2 37
3 45
4 56
5 32
6 49
7 37

In [50]:
sorted(idades)
list(reversed(sorted(idades)))

[87, 56, 49, 45, 37, 37, 32, 15]

In [48]:
sorted(idades, reverse=True)# sorted não é mutavel, devolve uma vizualização da ordenação(uma nova lista)

[87, 56, 49, 45, 37, 37, 32, 15]

In [51]:
idades.sort() # ordena a lista fisicamente

In [ ]:
nomes = ["guilherme", "Daniela", "Paulo"]
sorted(nomes)

In [74]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(200)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [55]:
conta_do_guilherme < conta_da_daniela

True

In [75]:
for conta in sorted(contas):
  print(conta)

[>> Código da conta: 133 - Saldo: 200 <<]
[>> Código da conta: 3 - Saldo: 500 <<]
[>> Código da conta: 17 - Saldo: 500 <<]

In [57]:
for conta in sorted(contas,reverse=True):
  print(conta)

[>> Código da conta: 3 - Saldo: 1000 <<]
[>> Código da conta: 133 - Saldo: 510 <<]
[>> Código da conta: 17 - Saldo: 500 <<]

In [67]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo",  "_codigo")):
  print(conta)

[>> Código da conta: 3 - Saldo: 500 <<]
[>> Código da conta: 17 - Saldo: 500 <<]
[>> Código da conta: 133 - Saldo: 500 <<]

#total_ordering

In [76]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  #Definindo o criterio de igualdade 
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  #Criando critério natural de ordenação
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo
  
  

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Código da conta: {} - Saldo: {} <<]".format(self._codigo, self._saldo)

In [77]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(200)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [82]:
conta_do_guilherme <= conta_do_guilherme

True